{% extends "base.html" %}
{% block header %}
    <h2>登录页面</h2>
    <p>用用户名为：{{user}}登录</p>
{% end %}
{% block body %}
    <form method="POST" class="uk-form">
        <fieldset>
            <legend>{{user}}<i class="uk-icon-cog"></i></legend>
            <div class="uk-form-row">
                <label class="uk-form-label" for="username">UserName</label>
                <div class="uk-form-controls"><input type="text" id="username"/></div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="password">Password</label>
                <div class="uk-form-controls"><input type="password" id="password" /></div>
            </div>
        </fieldset>
        <input type="BUTTON" value="登录" id="login" class="uk-button-success"/>
    </form>
    <script type="text/javascript" src='{{static_url("js/script.js")}}'></script>
{% end%}

    
